* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 25px;
    color:rgb(255, 255, 255);
    font-style: italic;
    padding-right: 5px;
    margin-right:5px;
    margin-left: 5px;
}

header {
    background-color: rgb(26, 51, 101);
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.task-input {
    padding: 20px;
    font-size: 25px;
    background-color: rgb(225, 232, 243);
}

.time-start {
    width: 50px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    padding: 5px;
}

.hour-start {
    text-align: right;
}

.hour-end {
    text-align: right;
}

.time-end {
    width: 50px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    padding: 5px;
}

.start-input {
    display: inline;
    border-width: 0px;
    border-style: solid;
    width: 142px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    background-color:rgba(0, 0, 0, 0);
    border-color: rgb(109, 109, 109);
}



.task-name {
    border-width: 0px;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    border-bottom-width: 1px;
    background-color:rgb(255, 255, 255, 0);
    width: 50%;
}

.btn {
    font-size: 20px;
    font-family: inherit;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(43, 97, 215);
    color: white;
    cursor: pointer;
}

.input {
    font-family: inherit;
    outline: none;
}

.check {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover {
    background-color: rgb(95, 132, 211);
}

.task {
    margin: 25px;
    padding: 10px;
    background-color: rgb(240, 199, 95);
    border-radius: 10px;
}

.name {
    display: block;
    color: black;
    font-size: 25px;
}

.time {
    color: black;
    font-size: 25px;
    font-style: normal;
}

.edit {
    display: block;
    margin-right: 25px;
    margin-left: auto;
}

.delete {
    float: right;
    font-size: 25px;
    font-family: inherit;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border-color:rgba(0, 0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    color: black;
    cursor: pointer;
}

.delete:hover {
    background-color:rgba(0, 0, 0, 0.129);
}

.close {
    background-color: rgb(43, 97, 215);
    font-size: 20px;
    color: white;
    font-family: inherit;
    text-align: center;
    width: 100%;
    border-color:rgba(0, 0, 0, 0);
    cursor: pointer;
}

.close:hover {
    background-color: rgb(95, 132, 211);
}
